# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
# Node (build script)
node_modules/

# Drift/Freezed/Retrofit generated
*.g.dart
*.freezed.dart
*.jks
*.keystore